@page "/demo12/quickgrid-sortable"

@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorWebApp2.ViewModels

@inject BlazorWebApp2.Services.BogusGenerators.BogusPersonService _bogusPersonService

@rendermode InteractiveServer

<h3>Example QuickGrid - Sortable</h3>

<p>Needs Nuget Library: <b>Microsoft.AspNetCore.Components.QuickGrid</b></p>

<ul>
    <li>FirstName, and LastName are sortable</li>
    <li>City, State, Country uses a TemplateColumn</li>
</ul>


<QuickGrid Items="@entries" Class="table table-striped table-hover">
    <PropertyColumn Title="First Name" Property="@(e => e.FirstName)" Sortable="true" />
    <PropertyColumn Title="Last Name" Property="@(e => e.LastName)" 
                    Sortable="true" IsDefaultSortColumn="true" InitialSortDirection="SortDirection.Descending" />
    <TemplateColumn Title="City, State, Country">
        @context.City, @context.State, @context.Country
    </TemplateColumn>
    <PropertyColumn Title="Province / ZipCode" Property="@(e => e.ProvinceZipCode)" />
</QuickGrid>

@code {

    private IQueryable<PersonViewModel>? entries = null;

    protected override void OnInitialized()
    {
        entries = _bogusPersonService.GeneratePeople(50).AsQueryable();
    }

}
