@page "/employees/details"
@using Microsoft.EntityFrameworkCore
@using BlazorWebappOnlyServer.Models
@inject IDbContextFactory<BlazorWebappOnlyServer.Data.BlazorWebappOnlyServerContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Employee</h2>
    <hr />
    @if (employee is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">EmployeeName</dt>
            <dd class="col-sm-10">@employee.EmployeeName</dd>
            <dt class="col-sm-2">Designation</dt>
            <dd class="col-sm-10">@employee.Designation</dd>
            <dt class="col-sm-2">Salary</dt>
            <dd class="col-sm-10">@employee.Salary</dd>
        </dl>
        <div>
            <a href="@($"/employees/edit?employeeid={employee.EmployeeId}")">Edit</a> |
            <a href="@($"/employees")">Back to List</a>
        </div>
    }
</div>

@code {
    private Employee? employee;

    [SupplyParameterFromQuery]
    private int EmployeeId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        employee = await context.Employee.FirstOrDefaultAsync(m => m.EmployeeId == EmployeeId);

        if (employee is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
